.MyButtonLg {
  
  border: none;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: azure;
  /* border-radius: 25px; */
}
.MyButtonLg:hover{
  background-color: #f15f0b !important;
  transition: 0.5s;
  color: #F8F9FA !important;
}


